.container {
  flex-direction: column;
  align-items: center;
}

.svgContainer {
  width: 100vw;
  height: 90vh;
  border: 1px solid black;
  overflow: hidden;
  background-color: aliceblue;
}

svg {
  width: 100%;
  height: 100%;
  cursor: grabbing;
}
