.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .svgContainer {
    width: 100%;
    height: 600px; /* or whatever height you prefer */
    border: 1px solid black;
    overflow: hidden; /* Ensure overflow is hidden */
    background-color: aliceblue;
  }
  
  svg {
    width: 100%;
    height: 100%;
  }